/* Written by Varsha Mallepalli */

/* Header */
header.peer-review-header {
    background-color: #6200EA; /* Purple header background */
    color: white; /* White text */
    padding: 5px; /* Space inside header */
    text-align: center; /* Center-align the content */
    width: 100%;
    position: relative;
    z-index: 10;
}

/* Container for sidebar and main content */
.container-peer-review {
    display: flex;
    height: calc(100vh - 42px);
}

/* Sidebar Navigation */
.sidebar-peer-review {
    background-color: rgb(25, 24, 24);
    width: 200px; /* Sidebar width */
    padding: 15px; 
    height: 100%;
    border-radius: 2px;
    box-shadow: 2px; 
}

.sidebar-peer-review ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-peer-review ul li {
    margin-bottom: 20px; /* Space between list items */
}

.sidebar-peer-review ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px
}

.sidebar-peer-review ul li a.active-tab {
    background-color: #575757;
    border-radius: 4px;
}

.sidebar-peer-review ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Content container for main sections */
.content-container-peer-review {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #1A1A1A;
    color: #E0E0E0;
    width: calc(100% - 220px); /* Adjust to fit next to sidebar */
    margin: 20px; /* Gap for the peer review box */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Questions container */

.questions-container-peer-review {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between questions */
}

/* Question label */
.question-peer-review label {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Textarea for question answers */
.question-peer-review textarea {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #E0E0E0;
    border: 1px solid #575757;
    border-radius: 4px;
}

/* Submit button */
.button-peer-review {
    background-color: #6200EA;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.button-peer-review:hover {
    background-color: #4104ff; /* Darker purple background on hover */
}
